<br>
<br>

<div class="pl-5">
  <div class="container bg-muted border col-md-8 shadow-lg float-left">
    <br>
    <p class="text-success bg-light font-weight-bold">User {{ firstName }} {{ lastName }} registered successfully  </p>
    <br>
  </div>
</div>

<br>

<div class="container col-md-12 float-left pl-5 pt" style="margin-top: -15px">
  <div class="row pl-4">
    <div class="col col-md-6 float-left">
        <a class="border bg-white" [routerLink]="['/docUpload', firstName, lastName]">Click here to upload/manage Your documents</a>
    </div>
    <div class="col col-md-6 float-right">
        <a class="border bg-white" [routerLink]="['/userList']">Go to Users List</a>
    </div>
  </div>
</div>